{% extends "accounts/accounts_base.html" %}
{% load static %}

{% block content %}
<div class="profile-container">
    <h1>Your SimWorks Dashboard</h1>

    <section class="start-simulation">
        <div class="simulation-buttons">
            <form method="post" action="{% url 'chatlab:create_simulation' %}" class="start-form">
                {% csrf_token %}
                <button type="submit" class="button primary medium" style="margin: auto">New ChatLab Sim</button>
            </form>
        </div>
    </section>

    <section class="simulation-history">
        <h2>Your Simulation History</h2>
        {% comment %}
        <div class="filter-bar">
            <input type="text" placeholder="Filter simulations..." class="filter-input">
            <button type="button" class="button">Filter</button>
        </div>
        {% endcomment %}
        {% include 'chatlab/partials/simulation_history.html' %}
    </section>
</div>
<section id="profile-links" class="profile-link-grid profile-container center">
    <a href="{% url 'admin:index' %}" class="button small">Admin Login</a>
    {% if user.is_staff %}
    <a href="{% url 'accounts:new-invite' %}" class="button small">New Invitation</a>
    <a href="{% url 'accounts:list-invites' %}" class="button small">View Invitations</a>
    <a href="{% url 'simai:usage-report' %}" class="button small">View Usage Analytics</a>
    <a href="{% url 'graphiql' %}" class="button small">GraphiQL</a>
    {% endif %}
</section>
{% endblock content %}
