{% extends "accounts/accounts_base.html" %}
{% load static %}

{% block content %}
<div class="profile-container">
    <h1>Your SimWorks Dashboard</h1>

    <section class="start-simulation">
        <h2>Start a New Simulation</h2>
        <div class="simulation-buttons">
            <form method="post" action="{% url 'ChatLab:create_simulation' %}" class="start-form">
                {% csrf_token %}
                <button type="submit" class="button primary small">Begin New ChatLab Simulation</button>
            </form>
        </div>
    </section>

    <section class="simulation-history">
        <h2>Your Simulation History</h2>
        <div class="filter-bar">
            <input type="text" placeholder="Filter simulations..." class="filter-input">
            <button type="button" class="button">Filter</button>
        </div>
        {% include 'ChatLab/partials/simulation_history.html' %}
    </section>
</div>
<section id="profile-links" class="profile-link-grid profile-container center">
    <a href="{% url 'admin:index' %}" class="button small">Admin Login</a>
    {% if user.is_staff %}
    <a href="{% url 'accounts:new-invite' %}" class="button small">Create Invitation</a>
    {% endif %}
</section>
{% endblock content %}
