{% extends "accounts/accounts_base.html" %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock style %}

{% block title %}Sign Up - {{ SITE_NAME }}{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Sign Up</h1>
    {% if form.errors %}
      <div class="error">
        Please correct the errors below.
      </div>
    {% endif %}
    <form method="post" action="{% url 'accounts:register' %}">
        {% csrf_token %}
        {% if token %}
            {% include "partials/forms/_field.html" with field=form.invitation_token widget="<input type='text' name='"|add:form.invitation_token.name|add:"' id='"|add:form.invitation_token.id_for_label|add:"' value='"|add:token|add:"' readonly>" %}
        {% else %}
            {% include "partials/forms/_field.html" with field=form.invitation_token %}
        {% endif %}
        {% for field in form %}
            {% if field.name != "invitation_token" %}
                {% include "partials/forms/_field.html" with field=field %}
            {% endif %}
        {% endfor %}
        {% include 'partials/_button.html' with label='Sign Up' variant='primary' type='submit' %}
    </form>
    <p>
      Already have an account? <a href="{% url 'accounts:login' %}">Login</a>.
    </p>
</div>
{% endblock %}
