{% extends "accounts/accounts_base.html" %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock style %}

{% block title %}Sign Up - {{ SITE_NAME }}{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Sign Up</h1>
    {% if form.errors %}
      <div class="error">
        Please correct the errors below.
      </div>
    {% endif %}
    <form method="post" action="{% url 'accounts:register' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.invitation_token.id_for_label }}">Invitation Token:</label>
            {% if token %}
                <input type="text" name="{{ form.invitation_token.name }}" id="{{ form.invitation_token.id_for_label }}" value="{{ token }}" readonly>
            {% else %}
                {{ form.invitation_token }}
            {% endif %}
        </div>
        {% for field in form %}
            {% if field.name != "invitation_token" %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.errors %}
                        <span class="error">{{ field.errors }}</span>
                    {% endif %}
                    {% if field.help_text %}
                        <small>{{ field.help_text }}</small>
                    {% endif %}
                </p>
            {% endif %}
        {% endfor %}
        {% include 'partials/_button.html' with label='Sign Up' variant='primary' type='submit' %}
    </form>
    <p>
      Already have an account? <a href="{% url 'accounts:login' %}">Login</a>.
    </p>
</div>
{% endblock %}
