# Byte-compiled files
__pycache__/
*.py[cod]
**/__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
.installed.cfg
.egg-info/
MANIFEST

# Virtual environment
venv/
ENV/
env/
*env*
