{# templates/chatlab/partials/_feedback_inner.html #}
{% load filters %}

{% if feedback %}
  <ul class="sim-metadata">
    {% for metafield in feedback %}
        {% if metafield.key|lower == "feedback" %}
            <li><i style="color: var(--color-muted)">{{ metafield.value }}</i></li>
        {% else %}
            <li><strong>{{ metafield.key|title }}:</strong> {{ metafield.value|feedback }}</li>
        {% endif %}
    {% endfor %}
  </ul>
{% else %}
  <div class="sim-metadata-empty">No feedback available yet.</div>
{% endif %}