{% comment %} Render a single chat message bubble {% endcomment %}
<div
  class="chat-bubble {% if message.sender.username == user.username %}outgoing{% else %}incoming{% endif %}"
  data-message-id="{{ message.id }}"
  data-has-media="{{ message.has_media }}"
  role="listitem"
  aria-label="{{ message.display_name|default:message.sender.get_full_name|default:message.sender.username }}"
>
  <strong class="sender-name">
    {{ message.display_name|default:message.sender.get_full_name|default:message.sender.username }}
  </strong>
  {% if message.has_media %}
    <div class="media-container" role="list">
      {% for media in message.media.all %}
        <div id="media_{{ media.uuid }}" class="media-wrapper" role="listitem">
          <img src="{{ media.thumbnail.url }}" alt="{{ media.description }}" class="media-image">
        </div>
      {% endfor %}
    </div>
  {% endif %}
  {{ message.content|linebreaksbr }}
  <div class="timestamp">
    <time
      class="bubble-time"
      datetime="{{ message.timestamp|date:'c' }}"
      x-data="{ time: new Date('{{ message.timestamp|date:'c' }}').toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: false }) }"
      x-text="time"
    >{{ message.timestamp|date:"H:i" }}</time>
    {% if message.sender == user.username %}
    <span class="status-icons" x-data="{ delivered: true, read: false }">
      <span class="iconify status-icon delivered-icon" data-icon="fa6-regular:circle-check" data-inline="false" x-show="delivered"></span>
      <span class="iconify status-icon read-icon" data-icon="fa6-regular:circle-check" data-inline="false" x-show="read"></span>
    </span>
    {% endif %}
  </div>
</div>
