<div id="sim-metadata-header" class="px-4">
    <h3 class="medium">Simulation Data</h3>
    <button @click="toggleMetadata()" class="button primary small hide-small my-4" x-text="metadataOpen ? 'Hide' : 'Show'"></button>
</div>
<div id="simulation-metadata"
    x-show="metadataOpen"
   x-transition:enter="transition ease-out duration-300"
   x-transition:enter-start="opacity-0 -translate-y-2"
   x-transition:enter-end="opacity-100 translate-y-0"
   x-transition:leave="transition ease-in duration-200"
   x-transition:leave-start="opacity-100 translate-y-0"
   x-transition:leave-end="opacity-0 -translate-y-2"
   hx-get="{% url 'ChatLab:refresh_metadata' simulation.id %}"
   hx-swap="outerHTML"
   hx-trigger="refreshMetadata">
{% include 'ChatLab/partials/_metadata_inner.html' %}
</div>