{% if user.is_authenticated %}
<form method="get" action="{% url 'chatlab:create_simulation' %}" class="start-form">
    <div class="dropdown-wrapper" x-data="{ modifierTrayOpen: false }" @click.away="modifierTrayOpen = false">
        <div class="button-group">
            <button type="submit" class="btn pri sm">Begin New Simulation</button>
            <button type="button" class="btn sm" @click="modifierTrayOpen = !modifierTrayOpen">&#x25BC;</button>
        </div>

        <div class="modifier-tray"
             x-show="modifierTrayOpen"
             x-cloak
             hx-get="{% url 'chatlab:modifier_selector' %}"
             hx-trigger="load"
             hx-swap="innerHTML">
            {# Content loaded via HTMX #}
            <span class="loading">Loading...</span>
        </div>
    </div>
</form>
{% endif %}
