{% if user.is_authenticated %}
<form method="get" action="{% url 'chatlab:create_simulation' %}" class="start-form">
    <div class="dropdown-wrapper" x-data="{ modifierTrayOpen: false }" @click.away="modifierTrayOpen = false">
        <div class="button-group">
            <button type="submit" class="btn pri sm">Begin New Simulation</button>
            <button type="button" class="btn sm" @click="modifierTrayOpen = !modifierTrayOpen">&#x25BC;</button>
        </div>

        <div class="modifier-tray"
             x-show="modifierTrayOpen"
             x-cloak
             hx-get="{% url 'chatlab:modifier_selector' %}"
             hx-trigger="revealed"
             hx-swap="innerHTML"
             hx-indicator="#modifier-loading">
            {# Content loaded via HTMX when tray opens #}
            <div id="modifier-loading" class="htmx-indicator" style="text-align: center; padding: 1rem;">
                <span class="iconify" data-icon="svg-spinners:blocks-shuffle-3"></span>
                <span>Loading modifiers...</span>
            </div>
        </div>
    </div>
</form>
{% endif %}
