{% load static %}

<form id="chat-form"
    @submit.prevent="sendMessage"
    x-data="{
        isLocked: {{ simulation_locked|yesno:'true,false' }},
        isFeedbackContinuation: {{ feedback_continuation|yesno:'true,false' }},
        }"
>
  <button type="button" id="emoji-button" title="Emoji" class="emoji-button hide-small">
        <span class="iconify chat-icon" data-icon="fa6-regular:face-smile" data-inline="false"></span>
  </button>
  <textarea
    x-model="messageText"
    id="chat-message-input"
    x-ref="messageInput"
    x-on:input="$refs.messageInput.style.height = 'auto'; $refs.messageInput.style.height = $refs.messageInput.scrollHeight + 'px'"
    :disabled="isLocked"
    :placeholder="
        isLocked
            ? 'Simulation locked — Chat is now read-only'
            : isFeedbackContinuation
                ? 'Message Stitch to continue feedback conversation'
                : 'Message'
    "
    @input="notifyTyping"
    rows="1"
    style="resize: none"
    autofocus
  ></textarea>
    <button
            class="hide-small"
            type="submit"
            :disabled="isLocked">
      <span
          class="iconify chat-icon mr-4"
          :class="{ 'color-accent-blue': !isLocked }"
          data-icon="bi:arrow-up-circle-fill"
          data-inline="false"
      ></span>
    </button>
</form>