<div class="sim-sidebar-wrapper" x-data="sidebarMetadata({{ simulation.id }})">
    {% include 'chatlab/partials/_metadata_wrapper.html' %}
    {% include 'chatlab/partials/_feedback_wrapper.html' %}
</div>

<script>
function sidebarMetadata(simulationId) {
    return {
        states: {
            simMetadataOpen: JSON.parse(localStorage.getItem(`simMetadataOpen_${simulationId}`) ?? 'true'),
            patientMetadataOpen: JSON.parse(localStorage.getItem(`patientMetadataOpen_${simulationId}`) ?? 'true'),
            feedbackOpen: JSON.parse(localStorage.getItem(`simFeedbackOpen_${simulationId}`) ?? 'true'),
        },
        toggle(section) {
            this.states[section] = !this.states[section];
            localStorage.setItem(`${section}_${simulationId}`, JSON.stringify(this.states[section]));
        },
        isOpen(section) {
            return this.states[section];
        }
    }
}
</script>