<div class="sim-sidebar-wrapper" x-data="{
  metadataKey: `simMetadataOpen_{{ simulation.id }}`,
  metadataOpen: JSON.parse(localStorage.getItem(`simMetadataOpen_{{ simulation.id }}`) ?? 'true'),
  toggleMetadata() {
    this.metadataOpen = !this.metadataOpen;
    localStorage.setItem(this.metadataKey, JSON.stringify(this.metadataOpen));
  },

  feedbackKey: `simFeedbackOpen_{{ simulation.id }}`,
  feedbackOpen: JSON.parse(localStorage.getItem(`simFeedbackOpen_{{ simulation.id }}`) ?? 'true'),
  toggleFeedback() {
    this.feedbackOpen = !this.feedbackOpen;
    localStorage.setItem(this.feedbackKey, JSON.stringify(this.feedbackOpen));
  }
}">
    {% include 'ChatLab/partials/_metadata_wrapper.html' %}
    {% include 'ChatLab/partials/_feedback_wrapper.html' %}
</div>