{% load static %}

<div id="simulation-history-list"
     x-data="{ scroll: 0 }"
     x-init="
         setInterval(() => {
             scroll = $el.scrollTop;
             $el.dispatchEvent(new CustomEvent('refresh'));
         }, 10000);
     "
     @htmx:after-swap.window="
         $nextTick(() => {
             $el.scrollTop = scroll;
         })
     ">
    <ul hx-get="{% url 'chatlab:index' %}"
        hx-trigger="refresh from:closest div"
        hx-target="#simulation-history-list"
        hx-swap="outerHTML"
        class="simulation-history-list">
        {% for sim in simulations %}
            <li class="simulation-history-list__item">
                {% with status=sim.is_complete|yesno:"Complete,In Progress" %}
                    {% include 'chatlab/partials/_simulation_card.html' with simulation=sim status=status %}
                {% endwith %}
            </li>
        {% empty %}
            <li class="list-style-none">
                {% url 'chatlab:create_simulation' as create_simulation_url %}
                {% include 'partials/_empty_state.html' with
                    title="No simulations yet"
                    body="Start your first scenario to see it show up here."
                    cta_url=create_simulation_url
                    cta_text="Start a simulation"
                    cta_class="btn sm pri" %}
            </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        {% if simulations.has_previous %}
            <a hx-get="?page={{ simulations.previous_page_number }}"
               hx-target="#simulation-history"
               hx-swap="innerHTML"
               href="?page={{ simulations.previous_page_number }}">« Previous</a>
        {% endif %}

        <span>Page {{ simulations.number }} of {{ simulations.paginator.num_pages }}</span>

        {% if simulations.has_next %}
            <a hx-get="?page={{ simulations.next_page_number }}"
               hx-target="#simulation-history"
               hx-swap="innerHTML"
               href="?page={{ simulations.next_page_number }}">Next »</a>
        {% endif %}
    </div>
</div>


