{% load static %}

<section id="simulation-history" class="simulation-history-section">

    <h2>
      {% with name=user.first_name %}
        {{ name|default:"Your" }}{% if name %}'s{% endif %} Simulation History
      {% endwith %}
    </h2>

    {% if simulations %}
        {% include 'chatlab/partials/simulation_history_search.html' %}
        {% include 'chatlab/partials/simulation_history_list.html' %}
    {% else %}
        <p class="no-simulations-msg">You haven't started any simulations... <a
                href="{% url 'chatlab:create_simulation' %}" class="btn sm">start one now</a> and let the chaos begin 🩺💥</p>
    {% endif %}

</section>