:root {
    --color-bg: #ffffff;
    --color-bg-alt: #f5f5f5;
    --color-user: #0b93f6;
    --color-sim: #e5e5ea;
    --color-sim-hover: #d0d0d8;
    --color-text-dark: #222;
    --color-text-light: #fff;
    --color-muted: #888;
    --color-border: #ddd;
    --color-user-hover: #0056b3;
    --jckfrt-olive: #4B5D43;
    --jckfrt-olive-hover: #44543C;
    --jckfrt-yellow: #D2A640;
    --jckfrt-yellow-hover: #BFA22D;
    --jckfrt-red: #DA3D3D;
    --jckfrt-red-hover: #C43737;
    --jckfrt-dark: #2C2C2C;
    --jckfrt-less-dark: #C5C5C5;
    --jckfrt-btn-alt: #0f766e;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #0f172a;
        --color-bg-alt: #1e293b;
        --color-user: #007aff;
        --color-sim: #2a2a2a;
        --color-text-dark: #f0f0f0;
        --color-text-light: #fff;
        --color-muted: #aaa;
        --color-border: #333;
        --jckfrt-olive: #0f172a;
        --jckfrt-btn-alt: #115e59;
    }
}

body[data-theme="dark"] {
    --color-bg: #0f172a;
    --color-bg-alt: #1e293b;
    --color-user: #007aff;
    --color-sim: #2a2a2a;
    --color-text-dark: #f0f0f0;
    --color-text-light: #e2e8f0; /* #fff */
    --color-muted: #aaa;
    --color-border: #333;
    --jckfrt-olive: #0f172a;
    --jckfrt-btn-alt: #115e59;
}

html {
    transition: background-color 0.3s ease, color 0.3s ease;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: var(--color-text-dark);
}

.jckfrt-olive { background-color: var(--jckfrt-olive); }
.jckfrt-yellow { background-color: var(--jckfrt-yellow); }
.jckfrt-red { background-color: var(--jckfrt-red); }
.jckfrt-dark { background-color: var(--jckfrt-dark); }
.jckfrt-less-dark { background-color: var(--jckfrt-less-dark); }
.black { background-color: black!important; color: white; }
.white { background-color: white!important; color: black; }

.txt-jckfrt-olive { color: var(--jckfrt-olive); }
.txt-jckfrt-yellow { color: var(--jckfrt-yellow); }
.txt-jckfrt-red { color: var(--jckfrt-red); }
.txt-jckfrt-dark { color: var(--jckfrt-dark); }
.txt-jckfrt-less-dark { color: var(--jckfrt-less-dark); }
.txt-black { color: black!important;}
.txt-white { color: white!important;}
