{% extends "admin/change_form.html" %}

{% block object-tools-items %}
  {{ block.super }}
  <li>
    <form method="get" action="{% url 'simcore:download_simulation_transcript' original.pk "sim_transcript_txt" %}">
      <button type="submit" class="btn">Download Transcript (.txt)</button>
    </form>
  </li>
  <li>
    <form method="get" action="{% url 'simcore:download_simulation_transcript' original.pk "sim_transcript_md" %}">
      <button type="submit" class="btn">Download Transcript (.md)</button>
    </form>
  </li>
  <li>
    <form method="get" action="{% url 'simcore:download_simulation_transcript' original.pk "sim_transcript_csv" %}">
      <button type="submit" class="btn">Download Transcript (.csv)</button>
    </form>
  </li>
{% comment %}
  <li>
    <form
            method="get"
            action="{% url 'admin:chatlab_simulation_download_transcript' original.pk %}"
            style="display: inline; align-items: center"
    >
      <select name="format" style="margin-right: 0.5em;">
        <option value="chat-history_md">Markdown (.md)</option>
        <option value="json">JSON (.json)</option>
        <option value="csv">CSV (.csv)</option>
        <option value="txt">Plain Text (.txt)</option>
      </select>
      <button type="submit" class="btn" style="vertical-align: middle;">⬇️ Download</button>
    </form>
  </li>
{% endcomment %}
{% endblock %}