services:
  server:
    image: ghcr.io/jackfruitco/simworks:web-${SERVER_IMAGE_TAG:-latest}
    env_file:
      - stack.env
    expose:
      - 8000
    # hostname: 'server'
    volumes:
      - static-vol:/app/static
      - media-vol:/app/media
      # - nginx-conf:/app/nginx
      - /opt/www/logs:/app/logs
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - SimWorksNet
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  db:
    image: postgres:${DB_IMAGE_TAG:-17.2-alpine}
    restart: always
    user: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
    env_file:
      - stack.env
    environment:
      POSTGRES_DB: ${DB_NAME:-AppDatabase}
      POSTGRES_USER: ${DB_USER:-appuser}
      POSTGRES_PASSWORD: ${DB_PASSWORD:?password not set!}
      POSTGRES_HOST: ${DB_HOST:-db}
      POSTGRES_PORT: ${DB_PORT:-5432}
    networks:
      - SimWorksNet
    expose:
      - '${DB_PORT:-5432}'
    hostname: 'db'
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

  nginx:
    image: nginx:${PROXY_IMAGE_TAG:-latest}
    ports:
      - "8080:80"
    env_file:
      - stack.env
    volumes:
      - /opt/SimWorks/nginx/nginx.template.conf:/etc/nginx/nginx.template.conf:ro
      - /opt/SimWorks/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - /opt/SimWorks/nginx/nginx-entrypoint.sh:/docker-entrypoint.d/nginx-entrypoint.sh:ro
      - static-vol:/app/static
      - media-vol:/app/media
    depends_on:
      - server
    networks:
      - SimWorksNet
      - _TunnelNet
    entrypoint: ["/bin/sh", "/docker-entrypoint.d/nginx-entrypoint.sh"]

  redis:
    image: redis:${REDIS_IMAGE_TAG:-7.4.2-alpine}
    command: redis-server --requirepass ${REDIS_PASSWORD:?password not set!}
    container_name: ${REDIS_HOSTNAME:-redis}
    hostname: ${REDIS_HOSTNAME:-redis}
    env_file:
      - stack.env
    networks:
      - SimWorksNet
    expose:
      - '${REDIS_PORT:-6379}'

  celery:
    image: ghcr.io/jackfruitco/simworks:celery-${SERVER_IMAGE_TAG:-latest}
    env_file:
      - stack.env
    environment:
      - PYTHONPATH=/app/SimWorks
    # user: appuser
    user: root
    # command: [ "celery", "-A", "config", "worker", "--loglevel=info" ]
    depends_on:
      redis:
        condition: service_started
      db:
        condition: service_healthy
    volumes:
      - static-vol:/app/static
      - media-vol:/app/media
    restart: unless-stopped
    networks:
      - SimWorksNet
    hostname: 'celery-worker'
    healthcheck:
      test: [ "CMD", "celery", "-A", "config", "status" ]
      interval: 30s
      timeout: 10s
      retries: 3
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  celerybeat:
    image: ghcr.io/jackfruitco/simworks:beat-${SERVER_IMAGE_TAG:-latest}
    env_file:
      - stack.env
    # user: appuser
    environment:
      - PYTHONPATH=/app/SimWorks
    # command: [ "celery", "-A", "config", "beat", "--loglevel=info", "--scheduler", "django_celery_beat.schedulers:DatabaseScheduler" ]
    volumes:
      - static-vol:/app/static
      - media-vol:/app/media
    depends_on:
      redis:
        condition: service_started
      db:
        condition: service_healthy
    networks:
      - SimWorksNet
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "celery", "-A", "config", "status" ]
      interval: 30s
      timeout: 10s
      retries: 3
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  db-data:
  static-vol:
  media-vol:
  nginx-conf:
networks:
  SimWorksNet:
    driver: bridge
  _TunnelNet:
    external: True