services:
  web:
    build:
      context: ..
      dockerfile: Dockerfile
    env_file:
      - stack.env
    expose:
      - 8000
    read_only: true
    tmpfs:
      - /tmp
      - /run
    volumes:
      - media-vol:/app/media
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - SimWorksNet

  db:
    image: postgres:${DB_IMAGE_TAG:-17.2-alpine}
    restart: always
    user: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
    env_file:
      - stack.env
    environment:
      POSTGRES_DB: ${DB_NAME:-AppDatabase}
      POSTGRES_USER: ${DB_USER:-appuser}
      POSTGRES_PASSWORD: ${DB_PASSWORD:?password not set!}
      POSTGRES_HOST: ${DB_HOST:-db}
      POSTGRES_PORT: ${DB_PORT:-5432}
    networks:
      - SimWorksNet
    expose:
      - '${DB_PORT:-5432}'
    hostname: 'db'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER:-appuser} -d ${DB_NAME:-AppDatabase} -h 127.0.0.1 -p ${DB_PORT:-5432}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  nginx:
    image: nginx:${PROXY_IMAGE_TAG:-latest}
    ports:
      - "8080:80"
    env_file:
      - stack.env
    volumes:
      - ../nginx/nginx.template.conf:/etc/nginx/nginx.template.conf:ro
      - ../nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ../nginx/nginx-entrypoint.sh:/docker-entrypoint.d/nginx-entrypoint.sh:ro
      - media-vol:/app/media
    depends_on:
      - web
    networks:
      - SimWorksNet
    entrypoint: ["/bin/sh", "/docker-entrypoint.d/nginx-entrypoint.sh"]

  redis:
    image: redis:${REDIS_IMAGE_TAG:-7.4.2-alpine}
    command: redis-server --requirepass ${REDIS_PASSWORD:?password not set!}
    container_name: ${REDIS_HOSTNAME:-redis}
    hostname: ${REDIS_HOSTNAME:-redis}
    env_file:
      - stack.env
    networks:
      - SimWorksNet
    expose:
      - '${REDIS_PORT:-6379}'

volumes:
  db-data:
  media-vol:
networks:
  SimWorksNet:
    driver: bridge
