{% extends 'chatlab/chatlab_base.html' %}
{% load static %}

{% block content %}
<section id="content" class="mx-16">
    {% include 'partials/_page_header.html' with title="Welcome to ChatLab" actions_partial='chatlab/partials/_start_simulation_header_actions.html' %}

    {% if user.is_authenticated %}
        {% include 'chatlab/partials/simulation_history_base.html' %}
    {% endif %}

</section>

{% endblock content %}

{% block scripts %}
{{ block.super }}
<script>
function modifierSelector() {
    return {
        modifierTrayOpen: false,
        selected: [],
        modifierGroups: [],
        async fetchModifierGroups() {
            try {
                const response = await fetch("{% url 'graphql' %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": document.querySelector('meta[name="csrf-token"]')?.content
                    },
                    body: JSON.stringify({
                        query: `
                            query {
                                modifierGroups(groups: ["ClinicalScenario", "ClinicalDuration"]) {
                                    group
                                    description
                                    modifiers {
                                        key
                                        description
                                    }
                                }
                            }
                        `
                    })
                });
                const result = await response.json();
                this.modifierGroups = result?.data?.modifierGroups || [];
                console.log("Fetched modifierGroups:", this.modifierGroups)
            } catch (error) {
                console.error("Failed to load modifier groups", error);
            }
        }
    }
}
</script>
{% endblock scripts %}
