<section id="About TrainerLab">
    <h2>About TrainerLab</h2>
    <p>
        TrainerLab is here to let you focus on performance - <br>
        NOT on spending time drafting scenarios.
    </p>
    <p>
        TrainerLab is a simulation tool that allows you to create and run simulations.
        Either let TrainerLab draft the entire scenario, or you tell the Lab as much
        or as little want, and it'll fill in the blanks.<br>
    </p>
    <h4>
        Less time planning. More time training.
    </h4>
</section>