<div class="fixed top-0 right-0 m-4 space-y-2" id="notifications-container">
    <div
        x-data="{ show: true }"
        x-init="if (!'toast-warning warning persistent'.includes('persistent')) { setTimeout(() => show = false, 5000) }"
        x-show="show"
        x-transition:enter="transition ease-out duration-300 transform"
        x-transition:enter-start="opacity-0 translate-y-2"
        x-transition:enter-end="opacity-100 translate-y-0"
        x-transition:leave="transition ease-in duration-200 transform"
        x-transition:leave-start="opacity-100 translate-y-0"
        x-transition:leave-end="opacity-0 translate-y-2"
        role="alert"
        aria-live="assertive"
        class="toast flex items-center justify-between toast-warning ">
        <div>
            <h4>
                Heads up!
            </h4>
            <p>
                SimWorks is still under active development.
                Thank you for beta testing!
            </p>
            <p>
                Please report bugs to {{ SITE_ADMIN_CONTACT }}.
                Keep in mind, simulation history cannot be gauranteed!
                If you are unable to log in, please contact {{ SITE_ADMIN_CONTACT }};
                you may need a new invitation to register.
            </p>
            <p>
                Sorry for the inconvenience, and thanks for using the app!
            </p>
        </div>
        <button @click="show = false" class="dismiss" aria-label="Dismiss">&times;</button>
    </div>
</div>
