{% load static %}

<header id="header" x-data="{
    openMenu: false,
    previouslyFocused: null,
    toggleMenu() {
        this.openMenu ? this.closeMenu() : this.openMenuPanel();
    },
    openMenuPanel() {
        this.previouslyFocused = document.activeElement;
        this.openMenu = true;
        this.$nextTick(() => {
            (this.$refs.closeButton || this.$refs.menuPanel)?.focus();
        });
    },
    closeMenu() {
        this.openMenu = false;
        this.$nextTick(() => {
            if (this.previouslyFocused && typeof this.previouslyFocused.focus === 'function') {
                this.previouslyFocused.focus();
            }
        });
    },
    handleKeydown(event) {
        if (!this.openMenu) return;
        if (event.key === 'Escape') {
            event.preventDefault();
            this.closeMenu();
            return;
        }

        if (event.key !== 'Tab') return;

        const focusable = this.$refs.menuPanel
            ? Array.from(this.$refs.menuPanel.querySelectorAll('a[href]:not([tabindex="-1"]), button:not([disabled]):not([tabindex="-1"]), [tabindex]:not([tabindex="-1"])'))
            : [];

        if (!focusable.length) return;

        const first = focusable[0];
        const last = focusable[focusable.length - 1];

        if (event.shiftKey) {
            if (document.activeElement === first) {
                event.preventDefault();
                last.focus();
            }
        } else if (document.activeElement === last) {
            event.preventDefault();
            first.focus();
        }
    }
}" @keydown.window="handleKeydown($event)">
        openMenu: false,
        toggleMenu() { this.openMenu = !this.openMenu },
        closeMenu() { this.openMenu = false },
        trapFocus(event) {
            if (!this.openMenu || event.key !== 'Tab') return;

            const dropdown = this.$refs.userMenuDropdown;
            const focusable = dropdown ? dropdown.querySelectorAll('a, button, [tabindex]:not([tabindex="-1"])') : [];
            if (!focusable.length) return;

            const first = focusable[0];
            const last = focusable[focusable.length - 1];

            if (event.shiftKey && document.activeElement === first) {
                event.preventDefault();
                last.focus();
            } else if (!event.shiftKey && document.activeElement === last) {
                event.preventDefault();
                first.focus();
            }
        }
    }" x-init="$watch('openMenu', value => { if (value) { $nextTick(() => {
            const firstFocusable = $refs.userMenuDropdown?.querySelector('a, button, [tabindex]:not([tabindex="-1"])');
            (firstFocusable || $refs.userMenuDropdown)?.focus();
        }) } })" @keydown.escape.window="closeMenu">
    <!-- Header Navigation Bar  -->
    <div id="navBar" class="top bar flex">
        <a href="{% url 'home' %}" class="bar-item button">
            <span class="iconify fit" data-icon="line-md:home-twotone" data-inline="true"></span> Home</a>
        <a href="{% url 'chatlab:index' %}" class="bar-item button hide-small">
            <span class="iconify fit" data-icon="line-md:cellphone-twotone" data-inline="true"></span> ChatLab</a>
        <!-- Header User Welcome / User Registration -->
        {% if user.is_authenticated %}
        <div id="user-info" class="bar-item end user-info hide-small">
            <span>Welcome, {{ user.first_name|default:user.username }}!</span>
        </div>
        {% else %}
        <a href="{% url 'accounts:login' %}" class="bar-item end button acct hide-small">
            <span class="iconify fit" data-icon="mdi:login-variant" data-inline="true"></span> Login</a>
        <a href="{% url 'accounts:register' %}" class="bar-item button acct hide-small">
            <span class="iconify fit" data-icon="mdi:register-outline" data-inline="true"></span> Register!</a>
        {% endif %}
        <!-- User Menu Toggle -->
        {% include 'partials/_button.html' with
            label='Toggle menu'
            icon='fa-solid:bars'
            variant='secondary'
            type='button'
            hide_label=True
            extra_classes='bar-item button hover-black'
            attrs='id="user-menu-toggle" @click="openMenu = ! openMenu" @click.outside="openMenu = false"'
        %}
    </div>
    <!-- User Menu -->
    <div id="user-menu" class="bar-item top right" @click.outside="closeMenu">
        <!-- User Menu Dropdown -->
        <div id="user-menu-dropdown" x-ref="userMenuDropdown" tabindex="-1" x-cloak x-show.important="openMenu" @keydown.escape.stop.prevent="closeMenu" @keydown.tab="trapFocus($event)">
            <!-- Small Screen Navigation -->
            <div id="small-screen-nav" class="hide-medium hide-large">
                <a href="{% url 'chatlab:index' %}" class="sidebar-item button" @click="closeMenu"> ChatLab</a>
            </div>
            <!-- User Account Navigation -->
            <div id="user-account-nav">
                {% if user.is_authenticated %}
                    <a href="{% url 'accounts:profile' %}" class="sidebar-item button my-4" @click="closeMenu">Profile</a>
                    <!--<a href="{% url 'accounts:logout' %}" class="sidebar-item button" @click="openMenu = false">Logout</a>-->
                    <form action="{% url 'accounts:logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        {% include 'partials/_button.html' with
                            label='Logout'
                            variant='danger'
                            type='submit'
                            extra_classes='sidebar-item button my-4'
                            attrs='@click="open-menu = false"'
                        %}
                    </form>
                {% else %}
                    <a href="{% url 'accounts:login' %}" class="sidebar-item button acct hide-large hide-medium" @click="closeMenu">Login</a>
                    <a href="{% url 'accounts:register' %}" class="sidebar-item button acct hide-large hide-medium" @click="closeMenu">Registration</a>
                {% endif %}
                <div class="sidebar-item" x-data="themeToggle()" x-init="init()">
                    <button @click="toggle()" class="theme-toggle" title="Toggle theme">
                        <span x-show="!dark" class="iconify transition-transform duration-300 rotate-0" data-icon="line-md:moon-filled-alt-to-sunny-filled-loop-transition" data-inline="false"></span>
                        <span x-show="dark" class="iconify transition-transform duration-300 rotate-180" data-icon="line-md:sunny-filled-loop-to-moon-alt-filled-transition" data-inline="false"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
