{# templates/simulation/partials/tools/_panel.html #}
<div id="{{ tool.name|lower }}-tool-header"
     class="tool-header px-4"
     @click="toggle('{{ tool.name|lower }}')"
     role="button"
     tabindex="0"
     :aria-controls="'{{ tool.name|lower }}_tool'"
     :aria-expanded="isOpen('{{ tool.name|lower }}') ? 'true' : 'false'"
     @keydown.enter.prevent="toggle('{{ tool.name|lower }}')"
     @keydown.space.prevent="toggle('{{ tool.name|lower }}')">
    <h3 class="medium">
        <span class="iconify" data-icon="material-symbols:menu-open-rounded" data-inline="true"></span>
        {{ tool.display_name }}
    </h3>

    {% if tool.name|lower == "simulation_feedback" %}
    <form method="POST"
          action="{% url 'chatlab:run_simulation' simulation.id %}?feedback_continue_conversation=true"
          x-show="
            {{ simulation_locked|default_if_none:False|yesno:'true,false' }}
            && !{{ feedback_continuation|default_if_none:False|yesno:'true,false' }}
          ">
        {% csrf_token %}
        <button type="submit" class="btn xs accent" style="font-size: 80%">
            Continue conversation with Stitch
        </button>
    </form>
    {% endif %}

    <button type="button"
            @click.stop="toggle('{{ tool.name|lower }}')"
            class="btn pri sm hide-small my-4"
            :aria-controls="'{{ tool.name|lower }}_tool'"
            :aria-expanded="isOpen('{{ tool.name|lower }}') ? 'true' : 'false'"
            x-text="isOpen('{{ tool.name|lower }}') ? 'Hide' : 'Show'">
    </button>
</div>
