{# templates/simulation/partials/tools/_wrapper.html #}
{% load core_tags %}

<div class="tool-card" data-tool-name="{{ tool.name|lower }}">
    <!-- Tool Header -->
    {% include 'simulation/partials/tools/_panel.html' with
        tool=tool
        simulation=simulation
        simulation_locked=simulation_locked
        feedback_continuation=feedback_continuation %}

    <!-- Tool Body -->
    <div id="{{ tool.name|lower }}_tool"
         data-checksum="{{ tool.checksum }}"
         class="tool-body"
         x-show="isOpen('{{ tool.name|lower }}')"
         x-collapse>
        <div class="tool-body-inner">
            {% with custom_partial='simulation/partials/tools/_'|add:tool.name|add:'.html' %}
                {% if custom_partial == 'simulation/partials/tools/_wrapper.html' %}
                    {% include 'simulation/partials/tools/_fallback.html' with tool=tool %}
                {% elif custom_partial|template_exists %}
                    {% include custom_partial with tool=tool %}
                {% elif tool.is_generic %}
                    {% include 'simulation/partials/tools/_generic.html' with tool=tool %}
                {% else %}
                    {% include 'simulation/partials/tools/_fallback.html' with tool=tool %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
